<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>工作台</title> 

<link href="/static/WebStyle/green/css/base.css?{{ ver }}" rel="stylesheet">
<link rel="stylesheet" href="/static/custom/green/uimaker/easyui.css?{{ ver }}">
<link rel="stylesheet" href="/static/WebStyle/green/css/workbench.css?{{ ver }}">

</head>
<body>
    <div class="container">
        <div id="hd">

        </div>

        <div id="bd">
            <div class="bd-content">
                <div class="right-zone">
                    <div class="inform item-box">
                        <div class="inform-hd">
                            <label>信息1</label>
                            <a href="javascript:;">更多<span>&gt;</span></a>
                        </div>
                        <ul>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">信息1信息1信息1信息1信息1<i></i></a>
                                <label>04-13</label>
                            </li>
                        </ul>
                    </div>
                    <div class="price item-box">
                        <div class="inform-hd">
                            <label>信息2</label>
                            <a href="javascript:;">更多<span>&gt;</span></a>
                        </div>
                        <ul>
                            <li>
                                <span></span>
                                <a href="javascript:;" class="ellipsis">信息2信息2信息2信息2信息2信息2</a>
                                <label>04-13</label>
                            </li>
                        </ul>
                    </div>
{#                    <div class="attached item-box">#}
{#                        <div class="inform-hd">#}
{#                            <label>信息3</label>#}
{#                            <a href="javascript:;">更多<span>&gt;</span></a>#}
{#                        </div>#}
{#                        <div class="attached-tab">#}
{#                            <a href="javascript:;" class="current item-left" attached="public-attached">信息3-1</a>#}
{#                            <a href="javascript:;" class="item-right" attached="inner-attached">信息3-2</a>#}
{#                        </div>#}
{#                        <ul class="public-attached">#}
{#                            <li>#}
{#                                <span></span>#}
{#                                <a href="javascript:;" class="ellipsis">信息3-1信息3-1信息3-1信息3-1信息3-1</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                        <ul class="inner-attached hide">#}
{#                           <li>#}
{#                                <span></span>#}
{#                                <a href="javascript:;" class="ellipsis">信息3-2信息3-2信息3-2</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
                </div>
                <div class="center-part">
                    <div class="center-items todo">
                        <div class="calendar-part">
                             <div class="easyui-calendar" style="width:205px;height:231px;"></div>
                        </div>
                        <ul class="work-items clearfix">
                            <li>
                                <div class="work-inner">
                                    <div class="work-item green">
                                        <i class="iconfont">&#xe61f;</i>
                                        <span class="num">
                                            <span class="mobile_carder_null" style="font-size: 32px">0</span>&nbsp;<span class="unit">个</span></span>
                                        </span>
                                        <label>订单未指派承运商</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="work-inner">
                                    <div class="work-item red">
                                         <i class="iconfont">&#xe622;</i>
                                        <span class="num">0&nbsp;<span class="unit">个</span></span>
                                        <label>GPS异常</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="work-inner">
                                    <div class="work-item yellow">
                                         <i class="iconfont">&#xe61d;</i>
                                        <span class="num">0&nbsp;<span class="unit">条</span></span>
                                        <label>客户留言</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="work-inner">
                                    <div class="work-item blue">
                                         <i class="iconfont">&#xe647;</i>
                                        <span class="num">
                                            <span class="carder_count" style="font-size: 32px">0</span>&nbsp;<span class="unit">个</span></span>
                                        <label>承运商</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="work-inner">
                                    <div class="work-item purple">
                                         <i class="iconfont">&#xe60d;</i>
                                        <span class="num" >
                                            <span class="Mobile_Client_Count" style="font-size: 32px">0</span>&nbsp;<span class="unit">位</span></span>
                                        <label>客户</label>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="work-inner">
                                    <div class="work-item gray">
                                         <i class="iconfont">&#xe64b;</i>
                                        <span class="num">
                                            <span class="Mobile_Count" style="font-size: 32px">0</span>&nbsp;<span class="unit">个</span></span>
                                        <label>订单</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="center-items chart0 clearfix">
                        <div class="chart0-item">
                            <div class="item-inner">
                                <div class="item-content">
                                    <div class="content-hd">承运商订单比重统计</div>
                                    <div class="chart-chart" id="chart0"></div>
                                </div>
                            </div>
                        </div>
                        <div class="chart0-item">
                            <div class="item-inner">
                                <div class="item-content">
                                    <div class="content-hd">最近几周订单情况统计</div>
                                    <div class="chart-chart" id="chart1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
{#                    <div class="center-items chart1">#}
{#                        <div class="chart1-inner">#}
{#                             <div class="item-hd">其他统计</div>#}
{#                             <div class="chart1-chart" id="chart3"></div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>

        <div id="ft"></div>
    </div>
    <div class="todo-panel">
         <div class="todo-title">
            <i class="iconfont">&#xe61f;</i>
            <span class="num"><span class="mobile_carder_null" style="font-size: 32px;color: #f45438">0</span>&nbsp;<span class="unit">个</span></span>
            <label>订单未指派承运商</label>
        </div>
        <div class="todo-items">
            <ul>
                <li>
                    <span></span>
                    <a href="javascript:;" class="ellipsis">您有<span>1条a</span>信息未处理</a>
                    <label>04-13</label>
                </li>

            </ul>
        </div>

    </div>
    <script type="text/javascript" src="/static/custom/green/jquery.min.js"></script>
    <script type="text/javascript" src="/static/custom/green/jquery.easyui.min.js"></script>
    <!-- <script type="text/javascript" src="/static/WebStyle/green/js/menu.js"></script> -->
    <script type="text/javascript" src="/static/WebStyle/green/js/echarts-all.js"></script>

    <script type="text/javascript">
    //chart0

    $(document).ready(function(){
        option0 = {
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            calculable : true,
            series : [
                {
                    name:'承运商',
                    type:'pie',
                    radius : ['50%', '70%'],
                    itemStyle : {
                        normal : {
                            label : {
                                show : false
                            },
                            labelLine : {
                                show : false
                            }
                        },
                        emphasis : {
                            label : {
                                show : true,
                                position : 'center',
                                textStyle : {
                                    fontSize : '30',
                                    fontWeight : 'bold'
                                }
                            }
                        }
                    },
                    data:[]
                }
            ]
        };

      {#var myChart0 = echarts.init(document.getElementById('chart0'));#}
      {#myChart0.setOption(option0);#}

      //chart1
     option1 = {
            tooltip : {
                trigger: 'axis'
            },
            toolbox: {
                show : false,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['第一周','第二周','第三周','第四周','第五周','第六周','第七周']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'邮件营销',
                    type:'line',
                    stack: '总量',
                    data:[120, 132, 101, 134, 90, 230, 210]
                }
            ]
        };
{#        var myChart1 = echarts.init(document.getElementById('chart1'));#}
{#        myChart1.setOption(option1);#}

        var option3 = {
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['蒸发量'],
                show:false
            },
            toolbox: {
                show : false,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : ['aaaaaa','bbbbbb','cccccc','dddddd','ffffff','gggggg','hhhhhh']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'蒸发量',
                    type:'bar',
                    data:[60, 45, 73, 23, 37, 48, 18],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };

        {#var myChart3 = echarts.init(document.getElementById('chart3'));#}
        {#myChart3.setOption(option3);         #}
          
        //未指派承运商点击事件
        $(document).on('click','.work-item.green',function(event){
            //var width = (2 * $(this).width()) + 10;
            //$(".todo-panel").width(width -2).css({top:$(this).offset().top,left:$(this).offset().left}).show();
            //event.stopPropagation();
        });

        $(".todo-panel").click(function(){
             event.stopPropagation();
        });    
        $(document).click(function(){
            $(".todo-panel").hide();
        });      

    });
        
    //公开附件tab事件处理
    $(".attached-tab").on("click","a",function(){
        $(this).closest(".attached-tab").find("a").removeClass("current");
        $(this).addClass("current");
        $(this).closest(".attached").find("ul").addClass("hide");   
        $(this).closest(".attached").find("ul." + $(this).attr("attached")).removeClass("hide");    
    })

    $(function () {
        $.getJSON("/JSON/ag", function(json){
            console.log(json)
            for(var row in json.main_count){
                $('.'+ row).html(json.main_count[row])
            }
          // 初始化 option0 图表 ,即承运商订单比例
          var myChart0 = echarts.init(document.getElementById('chart0'));
          option0.series[0].data = json.option0
          myChart0.setOption(option0);

          // 初始化 option0 图表 ,即承运商订单比例
          var myChart1 = echarts.init(document.getElementById('chart1'));
          option1.xAxis[0].data = json.option1.week
          option1.series[0].data = json.option1.data
          myChart1.setOption(option1);
        });
    })
    </script>
</body> 
</html>
